backports.functools-lru-cache==1.6.6
biopython==1.76
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
subprocess32==3.5.4
